.title {
    background-color: lightblue;
    color: darkblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

a {
    font-size: 20px;
    color: darkblue;
    text-decoration: none;
    font-weight: bold;
}

li {
    margin: 18px;
}

a:hover {
    color: blueviolet;
}


